<h1>Your Current Game</h1>
<p> Game ID: <%= @game.id %> </p>
<p> Word: <%= @game.word.body %> </p>

<br>
<%= flash[:notice] if flash[:notice] %>
<% if @game.errors.full_messages.any? %>
  <% @game.errors.full_messages.each do |error_message| %>
    <%= error_message if @game.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

<h2>Guesses Remaining: <%= Guess::BEGINNING_GUESSES - @game.guesses.count %></h2>

<%= form_with model: @game.guesses, url: guesses_path, method: :post, local: true do |form| %>
  <br>
    <%= form.label :new_guess %>
    <br>
    <%= form.text_field :body %>
    <%= form.hidden_field :game_id, value: @game.id %>
    <%= form.submit "Add Guess" %>
<% end %>