<h1>Your Current Game</h1>

<h4>Directions:</h4>
<p>Guess the JERDLE in six tries.
  <br>
  Each guess must be a valid five-letter word.
  <br>
  After each guess, the guess result will show you which letters you guessed.
  <br>
  Lower case letters indicate you guessed a correct letter in the wrong space.
  <br>
  Upper case letters indicate you guessed the correct letter in the correct space.
  <br>
  Blanks mean that letter does not appear in the word.
</p>

<%= flash[:notice] if flash[:notice] %>
<% if @game.errors.full_messages.any? %>
  <% @game.errors.full_messages.each do |error_message| %>
    <%= error_message if @game.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

<h2>Guesses Remaining: <%= Guess::BEGINNING_GUESSES - @game.guesses.count %></h2>

<table style="width:30%">
  <tr>
    <th style="width:15%">Guess</th>
    <th style="width:15%">Guess Result</th>
  </tr>

  <tbody>
  <% @game.guesses.each do |guess| %>
    <tr>
      <td><%= guess.body %></td>
      <td><%= guess.guess_response %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% unless @game.guesses.count == Guess::BEGINNING_GUESSES || @game.game_won? %>
  <div>
    <%= form_with model: @game.guesses, url: guesses_path, method: :post, local: true do |form| %>
      <br>
      <%= form.label :new_guess %>
      <br>
      <%= form.text_field :body %>
      <%= form.hidden_field :game_id, value: @game.id %>
      <%= form.submit "Add Guess" %>
    <% end %>
  </div>
<% end %>
<br>
<% if @game.game_won? %>
  <h3>Congrats! You won!</h3>
  <h4>The word was: <%= @game.word.body %></h4>
<% end %>

<% if !@game.game_won? && @game.guesses.count == Guess::BEGINNING_GUESSES %>
  <h3>Better luck next time...</h3>
  <h4>The word was: <%= @game.word.body %></h4>
<% end %>

<% if @game.guesses.count == Guess::BEGINNING_GUESSES || @game.game_won? %>
  <%= button_to "START NEW GAME", action: "create", method: "post" %>
<% end %>